In [1]:
from table_creator import *

In [3]:

# Test use case. Create a ramdomized data for 700 days
# Set up prerequisites
columns = ['category', 'amount', 'leftover' 'sale_date']
column_types = ['object', 'int64', 'float64', 'datetime64[ns]'] # not needed in new version

# Generate an empty dataset with 1000 rows
# dataset = dataset_generator(columns, column_types, 1000)

# Create empty dataset
df = create_dataframe(columns=columns)

# Day count
days = 700

min_date = date(year=2021, month=6, day=1)
min_date_format = min_date.strftime("%Y-%m-%d")
max_date = min_date + timedelta(days=days)
max_date_format = max_date.strftime("%Y-%m-%d")
print(f'The max date is {max_date}')

# min_date = '2023-01-01'
# max_date = '2023-06-26'

# Fill the dataset with values using the randomizer function
df['category'] = randomizer('object', days, 'milk')
df['amount'] = randomizer('int64', days, 11, 29, 1)
df['leftover'] = randomizer('float', days, 0.1, 0.2)
df['sale_date'] = randomizer('datetime64[ns]', days, min_date_format, max_date_format)

df['id'] = df.index

# Check our df and save it in appropriate format
print(df.info())
df.to_excel('categories.xlsx', index=False)

The max date is 2023-05-02
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   category           700 non-null    object
 1   amount             700 non-null    int64
 2   leftoversale_date  0 non-null      object
 3   leftover           700 non-null    float64
 4   sale_date          700 non-null    datetime64[ns]
 5   id                 700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 32.9+ KB
None

In [4]:
# First let's generate item sales data using our rudimentary but simple randomizer tool
# We need a way to link our individual item sales with orders and with warehouse stock

columns = ['date', 'order_id', 'warehouse', 'sku_name', 'amount']
df_1 = create_dataframe(columns=columns)
# Fill the dataset with values using the randomizer function
df_1['date'] = randomizer('datetime64[ns]', days, min_date_format, max_date_format)
# Define how many rows should be per 1 order
max_group_size = random.randint(1, 8)
df_1['order_id'] = randomizer('order_id', days, max_group_size)
df_1['warehouse'] = 1
df_1['sku_name'] = 'maasdam_farmstore_400_g'
df_1['amount'] = randomizer('int64', days, 1, 4, 1)
df_1.head(30)

,date,order_id,warehouse,sku_name,amount
0,2021-06-01,1,1,maasdam_farmstore_400_g,4
1,2021-06-02,1,1,maasdam_farmstore_400_g,4
2,2021-06-03,2,1,maasdam_farmstore_400_g,4
3,2021-06-04,2,1,maasdam_farmstore_400_g,3
4,2021-06-05,3,1,maasdam_farmstore_400_g,3
5,2021-06-06,3,1,maasdam_farmstore_400_g,1
6,2021-06-07,4,1,maasdam_farmstore_400_g,1
7,2021-06-08,4,1,maasdam_farmstore_400_g,3
8,2021-06-09,5,1,maasdam_farmstore_400_g,4
9,2021-06-10,5,1,maasdam_farmstore_400_g,1
10,2021-06-11,6,1,maasdam_farmstore_400_g,3
11,2021-06-12,6,1,maasdam_farmstore_400_g,2
12,2021-06-13,7,1,maasdam_farmstore_400_g,4
13,2021-06-14,7,1,maasdam_farmstore_400_g,1
14,2021-06-15,8,1,maasdam_farmstore_400_g,4
15,2021-06-16,9,1,maasdam_farmstore_400_g,3
16,2021-06-17,9,1,maasdam_farmstore_400_g,1
17,2021-06-18,10,1,maasdam_farmstore_400_g,2
18,2021-06-19,11,1,maasdam_farmstore_400_g,1
19,2021-06-20,12,1,maasdam_farmstore_400_g,4
20,2021-06-21,12,1,maasdam_farmstore_400_g,3
21,2021-06-22,13,1,maasdam_farmstore_400_g,1
22,2021-06-23,13,1,maasdam_farmstore_400_g,1
23,2021-06-24,14,1,maasdam_farmstore_400_g,4
24,2021-06-25,14,1,maasdam_farmstore_400_g,4
25,2021-06-26,15,1,maasdam_farmstore_400_g,1
26,2021-06-27,16,1,maasdam_farmstore_400_g,2
27,2021-06-28,17,1,maasdam_farmstore_400_g,4
28,2021-06-29,17,1,maasdam_farmstore_400_g,2
29,2021-06-30,18,1,maasdam_farmstore_400_g,4

In [ ]:
# Rescale sales data by weekday. Assume that we will get more orders on Fridays, Sundays, and Saturdays 
# and fewer on the other days of the week.

In [ ]:
# Then add different flactuations to our sales - new items, cannibalisation, promotions and seasonality